<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RevgexTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RevgexTester.Properties.Settings>
            <setting name="Code" serializeAs="String">
                <value>(\d{4}) \1 \1 \1</value>
            </setting>
            <setting name="GenerationCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RepetitionLimit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IgnoreLineEndings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Filter" serializeAs="String">
                <value>.*</value>
            </setting>
            <setting name="Hotkeys" serializeAs="String">
                <value>?</value>
            </setting>
            <setting name="IgnoreWhitespace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SeparatorStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpaceAroundSeparator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="File" serializeAs="String">
                <value />
            </setting>
        </RevgexTester.Properties.Settings>
    </userSettings>
</configuration>